<div ng-controller="RestaurantDetailController" class="row">
  	<div ng-repeat="dish in restaurant.dishes">
  		<div>{{ dish.name }}</div>
  		<div>{{ dish.scale }}</div>
  		<div>{{ dish.heavy }}</div>
  		<div>{{ dish.notes }}</div>
  	</div>

  	<div ng-if="restaurant.drinks > 0" ng-repeat="drink in drinks">
  		<div>{{ drink.name }}</div>
  		<div>{{ drink.scale }}</div>
  		<div>{{ drink.notes }}</div>
  	</div>

  	<div>
	  	<div>{{ restaurant.ambiance.scale }}</div>
	  	<div>{{ restaurant.ambiance.decor }}</div>
	  	<div>{{ restaurant.ambiance.notes }}</div>
  	</div>

  	<div>
	  	<div>{{ restaurant.noise.level }}</div>
	  	<div>{{ restaurant.noise.notes }}</div>
	</div>
  	
  	<div>
	  	<div>{{ restaurant.service.scale }}</div>
	  	<div>{{ restaurant.service.notes }}</div>
	</div>
</div>