<div ng-controller="RestaurantFormController" class="row">
	<form class="col-xs-12">
    	<div class="section-body">
    		<div class="form-group">
    			<span class="font-weight-bold">Restaurant</span>
    			<input type="text" name="newRestaurantName" ng-model="newRestaurant.name" class="form-control">
    		</div>
    		<div ng-if="newRestaurant.dishes.length > 0">
    			<div class="section-heading text-primary">Dishes Added</div>
    			<div ng-repeat="dish in newRestaurant.dishes">
    				<div> {{ dish.name }}</div>
    			</div>
    		</div>
    		<div>
	    		<div class="form-group">
	    			<span class="font-weight-bold">Dish</span>
	    			<input type="text" name="newDish" ng-model="newDish.name" class="form-control">
	    		</div>
	    		<div class="form-group">
	    			<span class="font-weight-bold">Rating 1-10</span>
	    			<input type="number" name="newDishRating" ng-model="newDish.scale" class="form-control">
	    		</div>
	    		<div class="form-group">
	    			<span class="font-weight-bold">Recommend</span>
	    			<label>
				        <input type="checkbox" ng-model="newDish.recommend">
				    </label>
	    		</div>
	    		<div class="form-group">
	    			<span class="font-weight-bold">Heavy</span>
	    			<label>
				        <input type="checkbox" ng-model="newDish.heavy">
				    </label>
	    		</div>
	    		<div class="form-group">
	    			<span class="font-weight-bold">Notes</span>
	    			<textarea type="text" name="newDishNotes" ng-model="newDish.notes" class="form-control"></textarea>
	    		</div>
	    	</div>
    	</div>
    	<button ng-click="createNewDish()" type="submit" class="btn btn-default">Add New Dish</button>
    	<button ng-click="createNewRestaurant()" type="submit" class="btn btn-success">Add New Restaurant</button>
	</form>
</div>