<div ng-controller="RestaurantDetailController" class="row">
	<div class="col-xs-12 text-info section-header">Dishes</div>
  	<div ng-repeat="dish in restaurant.dishes" class="col-xs-12 section-body">
  		<div>
  			<span class="font-weight-bold">Dish: </span>
  			{{ dish.name }}
  		</div>
  		<div>{{ dish.scale }}</div>
  		<div>
  			<span class="font-weight-bold">Recommend: </span>
  			<span>{{ setYesOrNo(dish.recommend) }}</span>
  		</div>
  		<div>
  			<span class="font-weight-bold">Heavy: </span>
  			<span>{{ setYesOrNo(dish.heavy) }}</span>
  		</div>
  		<div>
  			<span class="font-weight-bold">Notes: </span>
  			{{ dish.notes }}
  		</div>
  	</div>
</div>